.logo{
    color: #96187c;
    margin-left:30px;
    margin-bottom: 50px;
}


ul{
    margin-left: 900px;
    position: relative;
    bottom:45px;
}

li{
    list-style: none;
    // display: inline;
    display:inline-flex;
    padding: 10px;
      
}

// li a {
//     padding:10px;
// }




