.titulo-contato{
    color:#6c1976;
    font-size: 40px;
}

.container-contato{
    left: 500px;
    bottom:105px;
    position: relative;
}

.container-conteudo{
    margin-top:5px;
    position: relative;
    bottom:40px;

}
p{
    color:grey;   
}

//media querie
@media screen and (max-width:375px){

    .titulo-contato{       
        font-size:30px;
        text-align: center;
    }

    .container-contato{
        left:20px;       
        bottom:10px;                       
    } 
    
}