<div class="container">
    <header>
        <div class="logotipo">
            <h2 class="logo">
                YourLOGO        
            </h2>  
        </div>
       
        <div class="navigator">
            <!-- <img class="imagem-menu" src ="https://img.icons8.com/android/24/000000/menu.png" (click)="responsive = !responsive"/>  -->
            
            <ul *ngIf="!responsive">
                <li>Home</li>
                <li>Profile</li>
                <li>About</li>
                <li>Contact</li>
                <li class="login">Sign in</li>
            </ul>  
        </div>              
    </header>
</div>
   
    

