       <div class="container2">
            <main>  
                <div class="imagem-principal">
                    <img class="img-principal" src="./../../../assets/imagem.jpeg" alt="Imagem de envelopes"> 
                </div>
        
                <div class="conteudo-principal">            
                    <h4 class= "titulo-contato "> CONTACT US</h4>
                    <div class="container-conteudo">
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing</p>
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing</p>
                        <p>lorem ipsum dolor sit amet, consectetur adipisicing</p>
                    </div> 
                </div>      
                        
            </main>            
    
    </div>
  
